{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  </head>
  <body class="bg-light">

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
      <div class="col-md-7 col-xs-12">
        <!-- Panel Chat -->
        <div class="panel" id="chat">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="icon wb-chat-text" aria-hidden="true"></i> Chat
            </h3>
          </div>
          <div class="panel-body">
            <div class="chats">

              {% if user_question %}
              <div class="chat chat-left">
                <div class="chat-avatar">
                  <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/51/e7/50/51e750e4-be50-a914-dcb2-b0f4f4270c3a/AppIcon-0-0-1x_U007emarketing-0-8-0-0-85-220.png/512x512bb.jpg" alt="...">
                </div>
                <div class="chat-body">
                  <div class="chat-content">
                    <p>{{ user_question }}</p>
                    <time class="chat-time">{{ time_sent }}</time>
                  </div>
                </div>
              </div>
              {% endif %}

              {% if answer %}
              <div class="chat">
                <div class="chat-avatar">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                </div>
                <div class="chat-body">
                  <div class="chat-content">
                    <p>{{ answer }}</p>
                    <time class="chat-time">{{ time_sent }}</time>
                  </div>
                </div>
              </div>
              {% endif %}

            </div>
          </div>
          <div class="panel-footer">
            <form method="POST">
              {% csrf_token %}
              <div class="input-group">
                <input name="user_question" type="text" class="form-control" placeholder="Say something" required>
                <button class="btn btn-primary" type="submit">Send</button>
              </div>
            </form>
          </div>
        </div>
        <!-- End Panel Chat -->
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>
